<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832357966456-p2ngfhhv12fa8dscvqrhaa22npgn8q29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832357966456-p2ngfhhv12fa8dscvqrhaa22npgn8q29</string>
	<key>API_KEY</key>
	<string>AIzaSyAprKgyOPHmSfryq5iE8arZqpNSYfxsKlA</string>
	<key>GCM_SENDER_ID</key>
	<string>832357966456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.BeMeal</string>
	<key>PROJECT_ID</key>
	<string>bemeal-8de3f</string>
	<key>STORAGE_BUCKET</key>
	<string>bemeal-8de3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832357966456:ios:74e9bae88080f86692c38d</string>
</dict>
</plist>